@media (min-width:768px)

  {.content-website
      {overflow: hidden;}

   .title-info-service
      {width: 328px;
      margin-top: 99px;
      color: var(--blue-dark);
      text-align: left;}
   
   .image-hero
      {display: none;}   
   
   .container-img-info-service
      {position: relative;
       width: 641px;
       margin:0px 0px;
       width: 100%;}
   
   .image-hero-tablet
      {display: block;
       position: absolute;
       width: 641px;
       height: 640px;
       top: -500px;
       right: -297px;
       
       }

.container-info-service
      {margin-left: 37px;}

   .courses
      {margin-top: 210px;}
  }