.header-nav 
    {display: flex;
     justify-content: space-between;    
     padding: 16px 16px 0px 16px;
     }
.logo-dark
    {width: 89px;
     height:35px;}
.btn-1
    {box-sizing: border-box;
     background-color: var(--blue-dark);
     color: white;
     border-radius: 28px;
     border:none;
     line-height: 28px;
     cursor: pointer;}
.btn-1:hover
    { background-color: var(--violet); }


.container-info-service
    {width: 344px;
     margin: 0px auto;}

.title-info-service
    {width: 343px;
     margin-top: 45px;
     color: var(--blue-dark);
     text-align: left;}

.text-info-service
    {width: 343px;
     margin-top: 26px;
     text-align: left;
     color: var(--grey);
     }

.btn-2
    {width: 167px;
     height: 56px;
     border-radius: 36.5px;
     border:none;
     margin-top: 24px;
     background-image: linear-gradient(#FF6F48, #F02AA6 );
     color: white;}

.btn-2:hover
    {background-image: 
        linear-gradient(0deg, rgba(255, 255, 255, 0.5) , rgba(255, 255, 255, 0.50)), 
        linear-gradient(180deg, #FF6F48, #F02AA6 );}

.container-img-info-service
    {width: 327px;
     margin: 0px auto;}
.image-hero
    {width:327px;
     height: 301px;
     margin-top: 46px;
     }

.image-hero-tablet
    {display: none;}

.image-hero-desktop
    {display: none;}
    
.courses 
    {display: flex;
     flex-direction: column;
     align-items: center;
     gap: 40px;    
    }

.header-courses
    {width: 343px;
     height: 120px;
     border-radius: 10px;
     background-image: linear-gradient(#FF6F48, #F02AA6);
     }


.text-header-courses
     {width: 286px;
      text-align:left;
      margin: 24px auto;
      color: white;}

.course
    {width: 343px;
     height: 259px;
     background-color: white;
     border-radius: 10px;
     box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
     padding-left: 28px;
     }

.text-course
     {width: 286px;
      height: 78px;
      margin-bottom: 24px;}

.logo-course
    {margin-top:-24px;}

.cta-course
     {text-decoration: none;
      color: var(--pink-dark);
      }


footer 
     {height: 120px;      
      background-color: var(--blue-dark );
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 36px 40px 36px 39px;
      margin-top: 80px;
     }

.logo-light
     { width: 89px ;
       height: 35px;}
    
.btn-3
     
     {border: none;
      border-radius: 28px;
      color: white;
      background-image: linear-gradient(#4851FF, #F02AA6);}

.btn-3:hover
     {background-image: linear-gradient(rgba(255, 255, 255, 0.50) , 
     rgba(255, 255, 255, 0.50)), linear-gradient(#4851FF, #F02AA6)
        ;}